.env
/workspace/*
!/workspace/entrypoint_*.sh
/apache/www/*
!/apache/www/.gitkeep
/apache/confd/*
!/apache/confd/.gitkeep
/apache/log/*
!/apache/log/.gitkeep
/php/error_log/*
!/php/error_log/.gitkeep
/cert/*
!/cert/.gitkeep
/mysql/*
!/mysql/my.cnf
!/mysql/docker/
!/mysql/cnfd/
/mysql/cnfd/*
!/mysql/cnfd/.gitkeep
!/mysql/data/
/mysql/data/*
!/mysql/data/.gitkeep
!/mysql/log/
/mysql/log/*
!/mysql/log/.gitkeep
/phpmyadmin/*
!/phpmyadmin/conf/
!/phpmyadmin/sessions/
/phpmyadmin/sessions/*
!/phpmyadmin/sessions/.gitkeep
/phpmyadmin/conf/*
!/phpmyadmin/conf/phpmyadmin-misc.ini